DST3.0_projects/project_1_hh/hh_database.csv
.ipynb_checkpoints
DST3.0_projects/project_1_hh/.ipynb_checkpoints
DST3.0_projects/project_3_eda/.ipynb_checkpoints
DST3.0_projects/project_4_classification/.ipynb_checkpoints
DST3.0_projects/project_5_regrassion/.ipynb_checkpoints
DST3.0_projects/project_6_clasterisation/.ipynb_checkpoints
DST3.0_projects/diplom_project_OUGN/.ipynb_checkpoints
DST3.0_projects/project_3_eda/hotels.csv
DST2.0_projects/project_EDA/.ipynb_checkpoints
DST2.0_projects/project_movie_quiz/.ipynb_checkpoints
PROD_projects/Scoring/.ipynb_checkpoints


